<!doctype html !>
<html>
  <head>
    <title>Magic Clock</title>
    <link href='http://fonts.googleapis.com/css?family=Mystery+Quest' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/site.css" />
    <script type="javascript" src="js/site.js"></script>
  </head>
  <body>
    <div id="clock">
      <div class="location" data-rotation="-45">Home</div>
      <div class="location" data-rotation="-15">Work</div>
      <div class="location" data-rotation="15">Pub</div>
      <div class="location" data-rotation="45">Mortal<br />peril</div>
      <div id="hand">
        <div id="face"></div>
      </div>
    </div>
  </body>
</html>
