body {
  background-image: url('/images/background.png');
  font-family: 'Mystery Quest', cursive;
  font-size: 40px;
}

#clock {
  width: 600px;
  height: 600px;
  margin: auto;
  background-color: rgba(230, 230, 180, 0.2);
  border: 1px solid rgba(180, 180, 100, 0.5);
  border-radius: 300px;
}

.location {
  color: rgb(180, 120, 50);
  position: absolute;
  text-align: center;
  width: 150px;
  height: 300px;
  top: 10px;
  left: 50%;
  margin-left: -75px;
  -webkit-transform-origin: bottom;
}

#hand {
  background-image: url('/images/hand.png');
  background-repeat: no-repeat;
  background-position: 12px top;
  position: absolute;
  text-align: center;
  width: 60px;
  height: 300px;
  top: 20px;
  left: 50%;
  margin-left: -30px;
  margin-top: 0;
  -webkit-transform-origin: 50% 96%;
  -webkit-transition: -webkit-transform 2s ease-in-out;
}

#face {
  height: 60px;
  width: 60px;
  background-image: url('/images/avatar.png');
  border: 1px solid rgb(180, 120, 50);
  border-radius: 30px;
  position: relative;
  top: 80px;
}
